<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <link rel="stylesheet" href="{{ '/assets/css/asciinema-player.css?v=' | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{{ '/assets/js/asciinema-player.js?v=' | append: site.github.build_revision | relative_url }}"></script>
{% seo %}
    {% include head-custom.html %}
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <!-- <h1><a href="../">{{ page.title | default: site.title | default: site.github.repository_name }}</a></h1> -->
          <h1><a href="../">{{ site.title }}</a></h1>
          <!-- <h2><a href="{{ "/" | relative_url }}">{{ page.description | default: site.description | default: site.github.project_tagline }}</a></h2> -->
          <em>{{ page.description | default: site.description | default: site.github.project_tagline }}</em>
        </header>
        <hr>

        <section id="main_content">
          {{ content }}
        </section>

        <footer>
        {% if site.github.is_project_page %}
          {{ site.title | default: site.github.repository_name }} is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a><br>
        {% endif %}
        </footer>

      </div>
    </div>
  </body>
</html>
